body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: #ffbd59;}

h3{
  font-family: 'Alegreya', serif;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 0;
  text-shadow: 2px 1px #001a1a;
  text-transform: uppercase;
}

.hlogo{
  border: 4px solid  #003333;
}

.logo{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px;
  width: 100%;
  height: 400px;
}
/* Full Navigation*/
.main-nav{
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    list-style:none;
    margin:0;
    padding:1px;
    text-align:center;
    text-decoration: none;
    list-style-type: none;
    background-color: #001a1a;
    overflow: hidden;
    box-shadow: 0 0 8px 8px #004d4d inset;
  }

.main-nav li{
    display:inline;
    text-decoration: none;
  }

.main-nav a {
    display:inline-block;
    text-decoration: none;
    padding:8px;
    color: #ffbd59;
  }

.main-nav a:hover {
  display:inline-block;
  text-decoration: none;
  background-color: black;
  color: blue;
}
.wrapper{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-around;
  background-color: #001a1a;
}

fieldset{
  border: 0;
}

.columns{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid #003333;
}

@media screen and (max-width: 800px){
  .columns{
    flex: 50%;
    max-width: 50%;

  }
}

@media screen and (max-width: 500px){
  .columns{
    flex: 100%;
    max-width: 100%;
  }
}




/*
.wrapper{
  background-color: #001a1a;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;

  /*grid-template-columns: repeat(auto-fit, minmax(150, 1fr));
  grid-auto-rows: autofit;
  grid-gap: 10px;*/
/*}

img {
    width:  100px;
    height: 100px;
    object-fit: cover;
}
*/
